*{
    margin: 0;
    padding: 0;
}
.box-main  {
  background-image: url("../imagenes/paisaje7.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
 background-size: cover;
}
/*.box-2{
    background-image: url("../imagenes/paisaje7.jpg");
    width: 750px;
    height: 536px;
}*/

ul{
    width: 100%;
    text-align: right;
    height: 80px;
   
    

}
li{
    cursor: pointer;
    padding: 35px 35px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4em;
    display: inline-block;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.last-item{
    margin-right: 80px;
}
.ti{
    text-align: center;
}
.pa{
    text-align: justify;
}