body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 900;
    background-color: rgba(22, 22, 199, 0.897);
}

h1 {
    font-size: 9em;
    font-family: "Allura", "sans-serif";
    color: aliceblue;
}



/* allura-regular - latin */
@font-face {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/allura-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/allura-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/allura-v18-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/allura-v18-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/allura-v18-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/allura-v18-latin-regular.svg#Allura') format('svg');
    /* Legacy iOS */
}