
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48, 48,48,.8);
}
.box{
    background-color: rgb(159, 224, 240);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2em;
    
}
.box-main-1{

    display: grid;
    grid-template-columns: 200px 100px 300px;
    grid-template-rows: 200px 400px 100px;
    border: 2px solid rgb(31, 29, 29);
    width: 600px;
}
.box-main-2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:repeat(3,200px);
    border: 2px solid rgb(44, 43, 43);
    width: 600px;
}
.box-main-3{
    display: grid;
    grid-template-columns: repeat(2, 220px )1fr;
    grid-template-rows:100px repeat(2,200px)100px;
    border: 2px solid rgb(27, 26, 26);
    width: 600px;
}
.box3-1{
    background-color: rgb(68, 202, 226);
    grid-column-start:1 ;
    grid-column-end: 4;
}
.box3-8{
    grid-column-start:1 ;
    grid-column-end: 4;
    background-color: rgb(20, 137, 184);
}