
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img {
    width: 100%;
}
.box-header-1 {
    width: 100%;
    height: 70px;
    background-color: white;
    display: grid;
    grid-template: "menu-hamburguer    img-logo    icono-lupa    carrito-compra  icono-user" 70px /
                    60px                   150px      1fr            100px         100px;
}
.cont-two {
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px rgb(202, 202, 202);
    display: grid;
    grid-template: 90px /1fr 250px 40% 100px 100px 160px 1fr;
}
.cont-input input {
    width: 100%;
}

.cont-points img {
    height: 30px;
    width: 30px;
}

.cont-two div {
    display: flex;
    align-items: center;
}
.cont-input img {
    position: relative;
    right: 30px;
}
.cont p{
    margin-left: 8px;
}
.cont-shop div {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box-header-1-hidden {
    display: none;
}
.style-hamburguer {
    color: black;
    font-size: 2em;
}
.menu-hamburguer {
    grid-area: menu-hamburguer;
    position: relative;
    left: 20px;
    top: 20px;
}
.img-logo {
    grid-area: img-logo;
    width: 100px;
    text-align: right;
}
.circle {
    grid-area: circle;
    width: 68px;
}
.carrito-compra {
    margin-top: 20px;
    grid-area: carrito-compra;
    width: 60px
}
.icono-user {
    margin-top: 10px;
    grid-area: icono-user;
    width: 60px;
}
.icono-homecenter {
    width: 60px;
    position: relative;
    top: 7px;
    left: -30px;
}
.img-lupa {
    margin-top: 18px;
    width: 30px;
}
input {
    width: 80%;
    height: 30px;
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    padding-left: 15px;
}
.img-lupa-2 {
    width: 20px;
}
.icono-lupa {
    text-align: center;
}
.box-header-2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.box-header-2-hidden {
    display: none;
}
.icono-lupa-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 90%;
}
.x-exit {
    font-size: 23px;
    transition: all 300ms;
}
.form-ana{
    position: fixed;
    right:20px;
    height:100vh;
    top: 0;
    width: 406px;
    display: grid;
    grid-template:"fm-header"70px
                  "fm-body"  minmax(150px 80vh)
                  "fm-input" 60px
                  "fm-exit"  100px/
                    406px;
}
.form-header{
    grid-area: fm-header;
    background-color: rgb(0, 114, 206);
    display: grid;
    grid-template:img-ana1 ;
}
.form-body{
    grid-area:fm-body ;
    background-color: rgb(234, 238, 243);
    display: grid;
    grid-template:"empty-left  form-text  empty-right"
                  "empty-left  slider  empty-right"  /
                       50px       1fr       40px ;


}
.form-input{
    grid-area:fm-input ;
    background-color: rgb(234, 238, 243);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    border-top: 2px solid rgb(0, 114, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
}
.input-text{
    margin-left:20px ;
    border: none;
    background-color: transparent;
    color: rgb(64, 64, 64);
    font-family: popins,sans-serif;
    outline: none;
}
.icon-smile{
    margin-right:30px ;
    font-size:1.3em ;
}
.exit-style{
background-color:   rgb(0, 114, 206);
color: white;
width: 45px;
height: 45px;
border-radius: 50%;
font-size: 1.7em;
font-family: lato;
font-weight: 300;
margin-top: 15px;
display: flex;
justify-content: center;
align-items: center;

}
.form-exit{
    grid-area:fm-exit ;
    display: flex;
    justify-content: flex-end;

}
.img-ana1{
    width: 60px;
  margin-top:5px ;
  margin-left:5px ;
}
.title-form{
font-family: poppins;
font-size: 1.2em;
font-weight: 400;
margin-left: 30px;
color: white;
height: 70px;
background-color: red;
}
.form-text{
grid-area:fr-text ;
background-color: aquamarine;
margin-top: 5px;
}

@media screen and (max-width : 3000px) {
    menu .cont-nav ul {
        display: flex;
        align-items: center;
        margin-left: 300px;
        font-size: 0.9em;
        gap: 12px;
        cursor: pointer;
    }

    .input {
        width: 80%;
        height: 30px;
        text-align: center;
        outline: none;
    }
    .box-header-1 {
        display: none;

    }
}
@media screen and (max-width : 768px) {
    .menu-hamburguer{
        display: flex;
        position: relative;
        margin: 0px 10px ;

    }
    .icono-homecenter{
        position: relative;
        display: flex;
        top: 5px;
        left: 23px;
    }
    .icono-lupa{
        position: relative;
        left: 70px;
    }
    .carrito-compra{
        position: relative;
        top: -2px;
        left: 80px;
    }
    .icono-user{
        position: relative;
        left: 75px;
    }
    .cont-two {
        display: none;
    }
    .box-header-1 {
        display: flex;

    }
    .input {
        width: 80%;
        height: 30px;
        border: none;
        text-align: center;
        border: none;
        transition: all 300ms;
    }
}       
