div {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 80px;
    margin-left: 900px;

}
.table{
    border: 1px solid red;
}
 h1 {
    text-align: center;
}
  
label {
    display: block;
    margin-top: 10px;
}
  
.fe{
    margin-top: 20px;
    padding: 5px;
    font-size: 14px;
  
}
  
.boton{
    margin-top: 50px;
    padding: 10px 40px;
    font-size: 16px;
    background-color: #4CAF50;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}