.imagenes-100 {
    width: 33%;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.nature{
    height: 26.2em;
}

.title{
    text-align: center;
}

.box-imagen{
    display: inline-flex;
    padding-top: 11px;
    padding-left: 20px;
}
