.imagenes-100 {
    width: 90%;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


.title{
    text-align: center;
}
.pa {
    text-align: justify;
    width: 26em; 
}
.nature{
height:61%;
}
.box-imagen{
    display: inline-flex;
    padding-top: 11px;
    padding-left: 20px;
   
}
.Colombia {
    height: 63%;
    width:25em ;
    
}

.Dog {
height:64% ;

}