.imagenes-100 {
    width: 90%;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


.title{
    text-align: center;
}
.nature{
height:85%;
}
.box-imagen{
    display: inline-flex;
    padding-top: 11px;
    padding-left: 20px;
   
}
