*{ 
    margin: 0;
    padding: 0;
    }
    nav{
        font-size: 1.5em;
    
     }
     h2 {
        color: white;
        font-size: 23px;
       margin-left: 100px;
       align-items: center;
       justify-content: center;
    position: absolute;   
     }
     nav ul {
    list-style: none;
    display: block;
    position: absolute;
    width: 110%;
    background-color:rgb(129, 91, 201) ;
     }
     nav a {
       text-decoration: none;
       display: block;
       padding: 0  3em;
       color: white;
     }
    /*menu primer nivel*/
    nav > ul > li { 
            float: left;
            position: relative;
           left: 400px;
            line-height: 70px; 
        
    }
    nav li {
        position: relative;
    }
    nav li li {
       max-height: 0;
       overflow: hidden;
       border: 1px solid white;
    }
    nav li:hover > ul > li{
        visibility: visible;
        max-height: 500px;
        overflow: visible;
    }
    nav ul ul ul {
        top: 0;
        left:100%;
    }
     nav li a:hover{
        background-color: rgb(214, 214, 214);
        color: black;  
     }
    body {
        background-color:rgb(247, 247, 247);
    }