
form {
    display: flex;
    text-align: center;
    justify-content: center;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
fieldset {
    background-color: rgb(184, 33, 195);
    width: 300px;

}

input[type="email"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
   border: none;
   border-bottom: 1px solid rgb(64,64,64, .8);
}
input[type="password"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
   border: none;
   border-bottom: 1px solid rgb(64,64,64, .8);
}
input[type="submit"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
}
