* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 8vh;
}

.contenedor{

   border: 3px solid black;
    width: 80%;
    margin: 0 auto;
    grid-gap: 30px ;  
    display: grid;
    grid-template: "header         header         header"         100px
                   "img-principal  img-principal  img-principal"  350px
                   "boton-1         boton-2         boton-3"         auto  /
                    1fr            1fr            1fr;
}
.header,.img-principal, .img-article {
    border-radius: 10px;
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    grid-area: header;
    background: rgb(204, 8, 1);
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 15px;
}
.img-principal {
    grid-area: img-principal;
    background: darkcyan;
}
.img-article {
    height: 250px;
    background: rgb(66, 65, 65);
}
p{
    margin-top: 1.5em;
    line-height: 1.4em;
    font-size: 1.5em;
    text-align: justify;
}
.boton-1 {
    grid-area: boton-1;
}
.boton-2 {
    grid-area: boton-2;
}
.boton-3 {
    grid-area: boton-3;
}
@media only screen and (min-width: 641px) and (max-width: 1024px){
   .contenedor {
        width: 85%;
        grid-template: "header         header               header "         90px
                       "img-principal  img-principal        img-principal"   250px
                       "boton-1         boton-2             boton-3   "      auto /
                        1fr            1fr                  1fr ; 
    }
}
@media only screen and (max-width: 640px){
    .contenedor {
        width: 85%;
        grid-template: "header"         80px
                       "img-principal"  260px
                       "boton-1"          auto 
                       "boton-2"          auto
                       "boton-3"          auto /
                        1fr;
    }
    .boton {
        font-size: .8em;
    }
}
