.box{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: aqua;
    letter-spacing: .1em;
    word-spacing: .3em;
    line-height: 1.5em;
    text-indent: 1em;

}
.box-1{
    margin: 10px;
    border: 8px solid rgb(57, 13, 97);;
    padding: 20px;
    background-color: rgb(132, 0, 255);
    margin-bottom: 20px;
    color: white;
    text-align: left;

}
.box-2{
    margin: 10px;
    border: 5px dotted black;
    padding: 20px;
    background-color: violet;
    margin-bottom: 20px;
    color: white;
    text-align: right;
}
.box-3{
    margin: 10px;
    border: 5px dashed black;
    padding: 20px;
    background-color: rgb(197, 14, 221);
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.box-4{
    margin: 10px;
    border: 5px double black;
    padding: 20px;
    background-color: rgb(203, 21, 248);
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}
.box-5{
    margin: 10px;
    border: 5px groove black;
    padding: 20px;
    background-color: rgba(255, 0, 140, 0.87);
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}