*{
    margin: 0;
    padding: 0;

}
.menu-bar {
    display: none;
}
nav{
    background-color: cornflowerblue;
    width: 100%;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline-block;
    position: relative;
}
nav ul li:hover {

background-color: red;
}
nav ul li a{
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;
}
.children{
position: absolute;
background-color: #011826 ;
text-align: left;
display: none;

}
nav ul li:hover .children{
    display: block;
    width: 130%;
    text-align: left;
}
nav ul li .children li{
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgb(255, 255, 255,.5);
}
nav ul li .children li a {
    display: block;
}
.main-content{
    margin: 30px;
}
h1{
    margin: 35px;
    text-align: right;
    color: #011826;
    font-family: Helvetica, sans-serif;
}
p{
    font-size: 1.3em;
    line-height: 1,4em;
    text-align: justify;
}
.icon-chevron-small-down {
    float: right;
    position: relative;
    top: 3px;
    padding-left: 5px;
}

@media only screen and (max-width: 1000px) {
    body {
        padding-top: 70px;
    } 
    nav{
        position: fixed;
        height: 100vh;
        width: 60%;
        left: 0;
        overflow-x:hidden;
        overflow-y: auto;
    }
    .menu-bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: #E6444A;
    }
    .bt-menu{
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-bar span{
      font-size: 40px;
      float: right;
    }
    nav ul {
        text-align: left;

    }
    nav ul li {
        display: block;
border-bottom: 1px solid cornflowerblue;
    }
    nav ul .children {
        position:relative;
        width: 100%;

    }
    nav ul li:hover .children {
display: none;

    }
}
    
