*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: center;
}

.menu {
    color: rgb(149, 149, 149);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    display: flex;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 71px;
}
.number-flex {
    display: inline-flex;
    gap: 15px;
}

.number {
    font-size: 2em;
    font-weight: bold;
}

.item {
    padding: 27px 25px 27px 20px;
    cursor: pointer;
}

.item:hover {
    padding-bottom: 25px;
    border-bottom: 1px solid orange;
}

.icon:active{
    color: whitesmoke; 
}
.icon-car:hover {
    cursor: pointer;
    border-bottom: unset;
}
.snake {
    color: black;
    margin-right: 30px;
    cursor: pointer;
    padding-top: 27px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 1.7em;
}
.dto {
    margin-top: 7px;
    border-radius: 5px;
    background-color: rgb(255, 226, 205);
    color: rgb(248, 103, 7);
    font-weight: bold;
    height: 25px;
    padding: 5px;
}
.space {
    margin-inline: 182px;
}
.info {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 90px 0px 90px 90px;
}
.orange {
    color: orange;
    font-weight: bold;
}
.before {
    color: gray;
    font-weight: bold;
    text-decoration: line-through;
}

.sub-title {
    font-size: 3em;
    margin-bottom: 15px;
}
.btn-add {
    border-radius: 8px;
    border: none;
    height: 58px;
    margin-left: 30px;
    width: 270px;
    background-color: rgb(255, 123, 0);
}

.bottom {
    margin-bottom: 15px;
}
.buy-box{
    display: inline-flex;
}
.buttons{
    border-radius: 12px;
    background-color: rgb(243, 243, 243);
    display: grid;
    width: 150px;
    grid-template: "less btn1 more" 58px/ 35px 35px 35px;
    grid-column-gap: 15px; 
}
.box-main-lightbox {
    background-color: rgba(0, 0, 0, 0.788);
    height: 119vh;
    width: 102%;
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.box-main{
    margin: 0 15%;
    display: grid;
    grid-template:"img-box-main empty "/
                   435px        1fr;
}
img{
border-radius: 10px;
}
.img-box-main{
grid-area:img-box-main;
width: 100%;
display: grid;
grid-template:"img-box     img-box   img-box     img-box   img-box     img-box   img-box " 435px
              "empty-0     empty-0   empty-0     empty-0   empty-0     empty-0   empty-0" 30px
              "box-img-1   empty-1   box-img-2   empty-2   box-img-3   empty-3   box-img-4" 90px /
               90px        25px      90px        25px      90px         25px     90px
}
.img-box{
 grid-area: img-box;
 width: 100%;
 cursor: pointer;
}
.img-mini{
    cursor: pointer;
    width: 100%;
}
.box-img-1{
    grid-area: box-img-1;
}
.box-img-2{
    grid-area: box-img-2;
}
.box-img-3{
    grid-area: box-img-3;
}
.box-img-4{
    grid-area: box-img-4;
}
.box-img-mini{
    border: 2px solid rgb(255, 125, 26);
    border-radius: 15px;
}
.img-mini-va{
    opacity: 0.4;
}
.icon{
width: 50px;
height: 50px;
background-color: rgb(230, 230, 230);
display: flex;
justify-content: center;
align-items: center;
font-weight: 900;
border: 2px solid whitesmoke;
}
.cant-box{
    display: flex;
    flex-direction: row;
}
.btn-restar{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.btn-sumar{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-restar, .btn-sumar{
    color:rgb(255, 125, 26) ;
    font-size: 1.8em;
    cursor: pointer;
}
.cant-obj{
    color: rgb(48, 48, 48);
    font-size: 1.3em;
}
.valor-total{
    font-size: 1.6em;
    font-weight: bold;
}
.add {
    border-radius: 8px;
    border: none;
    height: 58px;
    margin-left: 0px;
    width: 270px;
    background-color: rgb(255, 123, 0);
}
.add:hover{
    cursor: pointer;
    opacity: 0.5;
}
.txt-add {
    font-weight: bold;
    color: whitesmoke;
    font-size: 18px;
}
.car{
    margin-right: 20px;
    height: 25px;
    width: 30PX;
}
.lightbox{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);    
    background-color: rgb(64, 64, 64,.8);
    height: 100%;
    width: 100.5%;
}
.light-hidden{
    display: none;
}
.main-lightbox{
    width: 450px;
    height: 600px;
}
.main-center{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-xmark{
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(255, 119, 0);
    position: absolute;
    left: 100%;
    bottom: 100%;
}
.btn-style{
 border-radius: 50%;
 width: 46px;
 height: 46px; 
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;
 position: absolute;
 top:198px;
 left: 91%;
 z-index: 20;
}
.btn-atras{
 left: -4%;
 z-index: 20;
}
.style-btn{
font-weight: 900;
font-size: 1.3em;
left: -4%;
z-index: 20;
}
.img-main-light{
position: relative;
top: -88px;
width: 100%;
border-radius: 20px;
z-index: 10;
}

