* {
    margin: 0;
    height: 45%;
    padding: 0;
}

 
.tex {
    
    background-color: rgb(3, 173, 145);
    text-align: right;
    
    
    
}

li {
    list-style: none ;
    font-size: 2em;
    margin: 20px;
display: inline-block;

}