*{
    font-family:  Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
text-align: center;
}
.box-main{
    margin: 0 70px;
    display: grid;
    grid-template: 'img-box-main empty '/
                     435px        1fr;
}
img{
    border-radius: 10px;
}
.img-box-main{
 grid-area:img-box-main ;
 width: 100%;
display: grid;
grid-template: "img-box     img-box      img-box     img-box     img-box      img-box     img-box    " 435px
              " empty-0     empty-0      empty-0      empty-0    empty-0      empty-0     empty-0     " 30px
            " box-img-1    empty-1       box-img-2  empty-2    box-img-3   empty-3     box-img-4  " 90px /
                90px         25px         90px          25px      90px         25px         90px        
}
.img-box{
    grid-area: img-box;
    width: 100%;
    cursor: pointer;
    
    }
.img-mini{
  cursor: pointer;
  width: 100%;
}
.box-img-1{
grid-area: box-img-1;
cursor: pointer;
}
.box-img-2{
 grid-area: box-img-2;
 cursor: pointer;
    }
 .box-img-3{
  grid-area: box-img-3;
  cursor: pointer;
  }
.box-img-4{
 grid-area: box-img-4;
 cursor: pointer;
}
.box-img-mini{
    border-radius: 15px;
    border: 3px solid rgb(255, 125, 26);
   
}
.img-mini-act{
    opacity: 0.4;
}
.icon-op{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 2px solid whitesmoke;
}
.cant-obj{
    color: rgb(48, 48, 48);
    font-size: 1.5em;

}
.btn-sumar,.btn-restar{
    color:  rgb(255, 125, 26);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
    cursor: pointer;
    font-size: 2em;
}
.cant-box{
    display: inline-flex;
    flex-direction: row;
}
.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 90px 0px 90px 90px;
 
}

.orange {
    color: orange;
    font-weight: bold;
}

.sub-title {
    font-size: 3em;
    margin-bottom: 15px;
}

.bottom {
    margin-bottom: 15px;
}

.number-flex {
    display: inline-flex;
    gap: 15px;
}

.number {
    font-size: 2em;
    font-weight: bold;
}

.dto {
    margin-top: 7px;
    border-radius: 5px;
    background-color: rgb(255, 226, 205);
    color: rgb(248, 103, 7);
    font-weight: bold;
    height: 25px;
    padding: 5px;
}


.counter {
    display: inline-flex;
}
.less {
    padding-inline: 25px;
    grid-area: less;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
}


.add {
    border-radius: 8px;
    border: none;
    height: 58px;
    margin-left: 30px;
    width: 270px;
    background-color: rgb(255, 123, 0);
}

.txt-add {
    font-weight: bold;
    font-size: 1.2em;
    color: whitesmoke;
   
}
.car{
    margin-right: 35px;
  height: 25px;
  width: 40px;
}
.before {
    color: gray;
    font-weight: bold;
    text-decoration: line-through;
}
