*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Contenedor para la imagen y el texto */
.imagen-texto-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    margin-top: 10px;
}
/* Estilos para la imagen */
.imagen {
    width: 50%; /* O ajusta el tamaño que desees */
    max-height: 100%; /* Para asegurarse de que la imagen no exceda el tamaño del contenedor */
}
/* Estilos para el texto */
.sobre-mi{
    width: 45%; /* O ajusta el tamaño que desees */
    padding: 20px; /* Añade un poco de espacio entre la imagen y el texto */
    text-align: center;
}
header {
    background-color: #b692cf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
/* Secciones */
section {
    padding: 2rem;
}
/* Estilos para las cajas de proyecto */
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.proyecto {
    width: 25%;
    height: 250px;
    margin: 20px; /* Aumentar el margen para separar las cajas */
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #e2d2ef;
    font-size: 1.1em;
    transition: transform 0.3s, box-shadow 0.3s;
}
.proyecto:hover {
    transform: scale(1.05); /* Hace que la caja se agrande un poco al pasar el cursor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al pasar el cursor */
}
h2{
    text-align: center;
}
li{
    cursor: pointer;
   list-style: none;
}
a{
    text-decoration: none;
}
/* Pie de página */
.abajo{
    background-color: #b692cf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.logos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.pagina{
    height: 28px;
    
}
.pagina:hover{
    transform: scale(1.05); /* Hace que la caja se agrande un poco al pasar el cursor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al pasar el cursor */
}