/* *{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.main-content{
    display: grid;
    height: 100vh;
    grid-template:name photo / 100vh
                  1fr  1fr    ;
}
.name{
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
}

/* Encabezado */
header {
    background-color: #b692cf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Secciones */
section {
    padding: 2rem;
}
/* Estilos para las cajas de proyecto */
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.proyecto {
    width:30%;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #e2d2ef;
    font-size: 1.1em;
}
h2{
    text-align: center;
}
li{
    cursor: pointer;
   list-style: none;
}
a{
    text-decoration: none;
}
/* Pie de página */
.abajo{
    background-color: #b692cf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}