/* *{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.main-content{
    display: grid;
    height: 100vh;
    grid-template:name photo / 100vh
                  1fr  1fr    ;
}
.name{
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
  

}

/* Encabezado */
header {
    background-color: #b692cf;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Secciones */
section {
    padding: 2rem;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Estilos para las cajas de proyecto */
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  
   
}

.proyecto {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    
}
li{
   list-style: none;
   
}
a{
    text-decoration: none;
}