*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.box-main{
    display: grid;
    grid-template: 'main-header' 120px
                    'main-img'
                    'img-article'


                    
    
    ;
}