*{
    margin: 0;
    padding: 0;
  
}
.main-nav{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index:  30;
  }
/* .main-content{
   display: grid;
   grid-template:"empty-left  main-nav    empty-right"
                 "empty-left  box-marco   empty-right" 
                 "empty-left  iconos      empty-right" /
                    1fr       1439px        1fr
} */
.box-marco{
    grid-area: box-marco;;
}
.empty-left{
    grid-area: empty-left;
    background-color: rgb(223, 220, 225);
}
.empty-right{
    grid-area: empty-right;
    background-color: rgb(223, 220, 225);
}
.iconos{
    grid-area: iconos;
    height: 500px;
}
.main-nav{
  grid-area: main-nav;
}
.logo-box{
    float: left;
}
.img-logo{
    height: 60px;
    width: 200px;
   
    margin-left: 50px;
}
.img-logo2{
    height: 100px;
    width: 200px;
  position: absolute;
   margin-left: 145vh;

  
   
}
.main-ul{
    list-style: none;
    font-size: 1.3em;
    margin-top: 20px;
    margin-right: 80px;
    text-align: center;

}
.style-li{
    display: inline-block;
    margin-right: 80px;
    
}
.style-item{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
text-decoration: none;
padding: 15px 25px 0 25px ;
}
.img-toyota-camry{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}
.img-toyota-camry-hidden{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: left 2s;
}
.img-toyota-tundra{
    width: 100%;
    grid-area: img-toyota;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}

.img-toyota-tundra-hidden-left{
    width: 100%;
     position: fixed;
     z-index: 10;
     left: -100%;
     transition: left 2s;
 }
.img-toyota-tundra-hidden-right{
   width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;
}
.img-toyota-rav4{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}
.img-toyota-rav4-hidden-right{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;
}

.flecha-adelante{ 
    width: 80px;
    position: fixed;
    top: 50vh;
    right: 40px;
    z-index: 20;
}
.flecha-adelante:hover{
    cursor: pointer;
}
.flecha-atras{
    width: 100px;
    position: fixed;
    top: 50vh;
    left: 40px;
    z-index: 20;
}
.flecha-atras:hover{
    cursor: pointer;
}



/* *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-container{
    display: grid;
    grid-template: "empty-l      main-menu       empty-r"
                   "empty-l      container-img   empty-r"/
                    1fr          900px             1fr;
}
.empty-l{
    grid-area: empty-l;
    background-color: gray;
}
.empty-r{
    grid-area: empty-r;
    background-color: gray;
}
.main-ul{
    grid-area: main-menu;
    display: inline-flex;
    justify-content: right;
}
.img-logo{
    margin-right: 100px;
    width: 80px;
    height: 80px;
}
.style-items{
    text-decoration: none;
    color: rgb(12, 12, 12);
    margin-right: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: aliceblue;
   
}
.container-img{
    grid-area: container-img;
    display: grid;
    grid-template: "before      img-lotus       nex"/
                    0px         900px           0px ;
}
.atras{
    grid-area: before;
    font-size: 40px;
    color: rgb(209, 51, 51);
    background-color: gray;
}
.adelante{
    position: relative;
    right: 40px;
    grid-area: nex;
    font-size: 40px;
    font-size: 40px;
    color: rgb(209, 51, 51);
    
}
.box-img{
    grid-area: img-lotus;
    width: 100%;
}
.fa-solid{
    position: relative;
    top: 45%;
}
.animation{
    animation: cambio 0.5s ease-in;
} */
