.letter-slyle {
    /* */
font-size:3em ;
color: black;
}
.name-style {
    color: rgb(64, 64, 64,.8); 
}
 /*ejemplo de clases de elemento*/
h2 {
    color:red;
}
/* ejemplo de clase atada */
h2.name-style {
    color: blue;
}
 /*ejemplo de clase no atada */

.text-style {
    color: darkcyan;
}
/* ejemplo de estilo utilizando un id*/
#textstyle {
    color: rgb(151, 51, 151);
}


 