.table-style {
    display: flex;
    justify-content:  center;
    align-items: center;
   
    
}

th , td {
    border: 1px solid black;
   padding: 10px 12px;
  
}

table {
    border-collapse: collapse;

    }
h1,h2 {
    text-align: center;
}
thead {
     background-color:rgb(41, 237, 237)
}
 td {
    background-color:whitesmoke;
 }