.table-style {
    display: flex;
    justify-content:  center;
    align-items: center;
   
    
}

th , td {
    border: 1px solid rgb(211, 205, 205);
   padding: 10px 12px;
  
}

table {
    border-collapse: collapse;
    

    }
h1,h2 {
    text-align: center;
}
thead {
     background-color:rgb(41, 237, 237)
}
 td {
    background-color:whitesmoke;
 }
.ta {
background-color: rgb(0, 139, 139);
color: white;

 }
 .a{
background-color: green;
color: white;
 }
 .e {
background-color: rgb(19, 148, 187);
color: white;
 }
 .i{
background-color: orangered;
color: white;
 }
 .o{
background-color: rgb(93, 32, 150);
color: white;
 }
 .x{
    color: red;
 }
.b {
    color: rgb(22, 192, 17);
   
 }
 .si {
    text-align: center;
}
