*{
    margin: 0;
    padding: 0;
}
.box-example-colors{
    height: 300px;
    width: 300px;
    
}
.box-example-breakpoints{
    height: 100px;
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
}
.style-border{
border: 1px solid black;
}